body {
    font-family: helvetica light, Sans-serif;
    height: 100%;
    margin: 0;
    background: radial-gradient(#64b2e6,#007ac3);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#main {
    display: grid;
    grid-template-rows: auto auto;
}

/* Header Elements */
#header {
    background-color: #00232b;
    height: 48px;
    display: flex;
}
#logo img {
    height: 20px;
    margin: 14px 0 0 10px;
}
h1 {
    color: white;
    margin: 0;
    font-size: 18px;
    flex: 1;
    padding: 13px;
}
.help-icon {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 28px;
    border: 3px solid;
    border-radius: 1.4ex;
    height: 28px;
    width: 28px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7px;
}
.help-icon:hover {
    color: #171717;
}
#help-close-icon {
    color: rgb(119, 56, 56);
}
#help-close-icon:hover {
    color: #171717;
}
#little-x {
    font-size: 12px;
}

/* Sidebar Elements */
#sidebar {
    background: #171717;
    color: white;
    height: 100%;
    width: 9em;
    padding: 0.5em;
    padding: 0 0 29vh 0;
    grid-column: 1;
}
.sidebar-list {
    padding: 0.75em 0 0 0.5em;
}
#superfund-list {
    margin: 0 0 1em 0;
}
#area-concern-list {
    border-top: 1px solid gray;
}
.sidebar-category-heading {
    margin: 0 0 0.2em 0;
    font-weight: bold;
}
.sidebar-icon {
    width: 15px;
    margin-right: 2px;
    vertical-align: -5%;
    /*filter: sepia(100%) saturate(200%) brightness(110%) hue-rotate(180deg);*/
}
#clear-button {
    text-align: center;
    margin: 1em 0 0 0.5em;
    background-color: #2d2d2d;
    color: white;
}
#clear-button:hover {
    background-color: #212121;
    color: rgb(195, 59, 59);
}

/* Content Elements */
article {
    grid-column: 2;
}
.content-block {
    background: white;
    width: 50em;
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding: 0.7em 0.7em 0.7em 0.7em;
    border: 1px solid black;
}
.content-block-heading {
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: 1px solid black;
    margin: 0 0 0.5em 0;
}
.superfund-icon {
    width: 25px;
    margin-right: 4px;
    /*filter: sepia(100%) saturate(200%) brightness(110%) hue-rotate(180deg);*/
}
.content-block-subheading {
    font-weight: bold;
}
.concern-icon {
    width: 20px;
    margin-right: 3px;
    vertical-align: bottom;
    /*filter: sepia(100%) saturate(200%) brightness(110%) hue-rotate(180deg);*/
}
#help-box {
    border-color: rgb(119, 56, 56);
    border-radius: 1em;
    margin-left: 0;
    margin-right: 0;
    width: 51em;
}
#help-heading {
    color: rgb(119, 56, 56);
    border-color: rgb(119, 56, 56);
}
.concern-rating {
    border: 2px solid black;
    border-radius: 20px;
    width: 12px;
    height: 12px;
    text-align: center;
    display: inline-block;
    margin-left: 6px;
    vertical-align: -10%;
}
.concern-rating-0 {
    background-color: rgb(224, 224, 224);
}
.concern-rating-1 {
    background-color: rgb(191, 0, 0);
}
.concern-rating-2 {
    background-color: rgb(225, 165, 0);
}
.concern-rating-3 {
    background-color: rgb(22, 191, 0);
}

/* Welcome Page */
#welcome-page {
    text-align: center;
}
#welcome-image {
    margin: auto;
    width: 60%;
    filter: hue-rotate(90deg);
}
.welcome-content {
    text-align: left;
}